* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* MAIN */
main {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

/* HEADER */
header {
  padding: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .first-part {
  display: flex;
  column-gap: 100px;
  align-items: center;
}

header nav .first-part ul {
  display: flex;
  column-gap: 30px;
}

header nav .first-part ul li {
  list-style: none;
  font-size: 1.2rem;
}

header nav .buttons-store {
  display: flex;
  column-gap: 30px;
}

header nav .buttons-store button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* MAIN */
main h1 {
  margin: 20px 0;
}

main .filter-card {
  border: 2px solid #a8a7a7;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 5px;
}

main .filter-card h3 {
  margin-bottom: 18px;
  font-size: 1.2rem;
}

main .filter-card .filter-items {
  padding: 15px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

main .filter-card .filter-items .filter-item {
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}

main .filter-card .filter-items .filter-item input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.5);
}