* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* MAIN */
main {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

/* HEADER */
header {
  padding: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .first-part {
  display: flex;
  column-gap: 100px;
  align-items: center;
}

header nav .first-part ul {
  display: flex;
  column-gap: 30px;
}

header nav .first-part ul li {
  list-style: none;
  font-size: 1.2rem;
}

header nav .first-part ul li a {
  text-decoration: none;
  color: #000;
}

header nav .buttons-store {
  display: flex;
  column-gap: 30px;
}

header nav .buttons-store button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* MAIN */
main h1 {
  margin: 20px 0;
}

main .filter-card {
  border: 2px solid #a8a7a7;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 5px;
  height: fit-content;
}

main .filter-card h3 {
  margin-bottom: 18px;
  font-size: 1.2rem;
}

main .filter-card .filter-items {
  padding: 15px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

main .filter-card .filter-items .filter-item {
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}

main .filter-card .filter-items .filter-item input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.5);
}

/* Main content */

main .main-content .main-products-content {
  display: flex;
  column-gap: 50px;
  margin: 50px auto;
  justify-content: space-between;
}

main .main-content .main-products-content .order {
  margin-top: 20px;
}

main .main-content .main-products-content .cards-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
}

/* Product-card */
main .main-content .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 20px;
  width: 250px;
  border: 2px solid #a8a7a7;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 5px rgba(211, 210, 210, 0.52) inset;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(211, 210, 210, 0.52) inset;
  -moz-box-shadow: 0px 0px 30px 5px rgba(211, 210, 210, 0.52) inset;
  cursor: pointer;
}

main .main-content .product-card:hover {
  transform: scale(1.01);
  transition: all .3s ease-in-out;
}

main .main-content .product-card .first-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .main-content .product-card .second-card-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

main .main-content .product-card h4 {
  text-align: center;
  margin-bottom: 10px;
}

main .main-content .product-card img {
  width: 100px;
  align-self: center;
  aspect-ratio: 1;
}

main .main-content .product-card .category {
  padding: 8px;
  background-color: #e4e3e3;
  width: fit-content;
  border-radius: 15px;
}

main .main-content .product-card .rate span {
  color: rgb(255, 221, 0);
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  row-gap: 10px;
}

/* Cart-buttons */
.cart-buttons :is(.add-cart, .add-wishlist) {
  width: 100%;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(95, 128, 211);
  font-size: 1rem;
  column-gap: 20px;
  border: 2px solid transparent;
  transition: all .3s ease-in-out;
}

.cart-buttons .add-cart {
  background-color: #000000;
  color: #fff;
}

.cart-buttons .add-wishlist {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}

/* .Pagination */
main .main-content .pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  column-gap: 20px;
}

main .main-content .pagination button {
  background: none;
  padding: 10px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  border: none;

  &:disabled {
    background-color: #a8a7a7;
  }
}

/* Product-detail */
.home-button button {
  background: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
  }
}

.product-detail {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  height: 100vh;
  margin: 50px auto;
}

.product-detail .product-image {
  /* width: 50%; */
}

.product-detail .product-image img {
  aspect-ratio: 16/9;
  object-position: bottom;
  object-fit: contain;
  width: fit-content;
}

.content-details {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content-details h2 {
  margin: 0;
  font-size: 1.8rem;
}

.content-details .rate {
  font-size: 1.5rem;
}

.content-details .rate span {
  color: rgb(255, 221, 0);
  margin-right: 10px;
  vertical-align: middle;
}

.content-details h4 {
  font-size: 1.5rem;
  text-decoration: underline;
}

/* ADMIN PAGE */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}

form .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

form .inputs input {
  padding: 10px;
  border: 2px solid #a8a7a7;
  border-radius: 5px;
}

form .inputs label {
  font-weight: 600;
}

form .buttons {
  margin-top: 20px;
  width: 50%;
  display: flex;
  column-gap: 20px;
  /* justify-content: space-around; */
}

form .buttons button {
  background: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  border: 2px solid transparent;
  transition: all .2s ease;
}

form .buttons button.add {
  background-color: #5398ed;

  &:hover {
    background-color: #fff;
    color: #5398ed;
    border: 2px solid #5398ed;
  }
}

form .buttons button.edit {
  background-color: #757575;

  &:hover {
    background-color: #fff;
    color: #757575;
    border: 2px solid #757575;
  }
}

form .buttons button.delete {
  background-color: #b52d2d;

  &:hover {
    background-color: #fff;
    color: #b52d2d;
    border: 2px solid #b52d2d;
  }
}

/* Error */

.error {
  padding: 15px;
  background-color: #b52d2d;
  font-weight: 600;
  color: #fff;
  text-align: center;
}